<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
<meta property="og:title" content="Arnaud Degardin CV">
<meta property="og:image" content="media/image.jpg">
<meta property="og:description" content="Chemical Engineer, Sales Manager">
<meta property="og:url" content="https://adegard.github.io/markdown-cv/">
<meta name="twitter:card" content="media/image.jpg">
  <title> {% if page.title %} {{ page.title }} | {% endif %} CV</title>
  <link rel="shortcut icon" type="image/x-icon" href="media/favicon.ico">
  <link href="media/{{ site.style }}-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="media/{{ site.style }}-print.css" type="text/css" rel="stylesheet" media="print">
</head>
<body>
  <form>
    <input type=button name=print value="Print" onClick="window.print()">
  </form>

  <div id="main">
    <div id="content">
    {{ content }}
    </div>
  </div>
</body>
</html>
